$text: #fcfcfd;
$background: #121721;
$primary: #4d6089;
$secondary: #161b27;
$accent: #6278a7;


* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
}


// Text and whatnot
h1, h2, h3, h4, h5, h6, p, a, button, input, li, textarea {
	font-family: 'Calibri', Arial, sans-serif;
	color: $text;
}

main {
	display: flex;
}


// Sidebar
// TODO: Don't use stupid margin thing
.sidebar {
	$width: 15%;

	background-color: $secondary;
	width: $width;
	height: 100vh;
	position: fixed;
	left: -$width;
	transition: left 0.3s ease;

	box-sizing: border-box;
	padding: 10px;
	
	&.hidden {
		left: 0;

		&+.page {
			margin-left: $width;
			transition: margin-left 0.3s ease;
		}
	}
}

// Page
.page {
	background-color: $background;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;

	// TODO: Dont use margin animation stuff its rubbish
	transition: margin-left 0.3s ease;
}




// Editor
#editor {
	color: white;
	font-family: 'Calibri', Arial, sans-serif;

	border: none;
	resize: none;
	width: 100%;
	height: 100%;
	outline: none;
}