// Import fonts
@font-face {
	font-family: "Rubik";
	src: url("../../assets/fonts/Rubik.ttf");
}

// Colors
$background-primary: #1e1e1e;
$background-secondary: #252526;
$background-tertiary: #333333;
$text-primary: #eaeaea;
$text-secondary: #cccccc;
$text-tertiary: #808080;
$caret-color: magenta;


* {
	margin: 0;
	padding: 0;
	font-family: "rubik", system-ui, arial, sans-serif;
}

body {
	background-color: $background-primary;
}



.editor {
	color: $text-primary;
	font-size: 50px;

	.caret {
		display: inline;
		border-right: 0.1em solid $caret-color;
		animation: blink 0.8s infinite;
	}
}

// Blinking cursor animation
@keyframes blink {
	0% { opacity: 25%; }
	50% { opacity: 100%; }
	100% { opacity: 25%; }
}




.status-bar {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	padding: 10px;
	background-color: $background-secondary;
	color: $text-secondary;
	
	.right {
		text-align: right;
	}
}







// Sidebar
// TODO: Don't use stupid margin thing
.sidebar {
	$width: 350px;

	background-color: $background-secondary;
	color: $text-primary;
	box-shadow: 8px 1px 20px -5px rgba(0, 0, 5, 0.5);

	width: $width;
	height: 100vh;
	position: fixed;
	left: calc(-#{$width} - 20px); //20px added to crush it offscreen a bit more	transition: left 0.3s ease;

	box-sizing: border-box;
	padding: 10px;
	transition: left 0.3s ease;
	
	&.hidden {
		left: 0;

		&+.page {
			margin-left: $width;
			transition: margin-left 0.3s ease;
		}
	}
}